# Tugas Wrangling 4

* Silakan download dan kerjakan soal berikut dimanapun (laptop pribadi/google colab/etc.)
* Setelah selesai mengerjakan, upload file ini di tempat yang telah disediakan pada platform.
* Beri nama file seperti berikut: {username}-wrangling-4.ipynb
* Contoh: johndoe-ab12-wrangling-4.ipynb
* Tutorial: https://discourse.pacmann.ai/t/pengumuman-seluruh-platform-pacmann-ai/409
* Username dapat dilihat di dalam akun anda.
* Mohon jangan mengubah nama variabel yang telah diberikan.
* Namun anda diperbolehkan untuk menambah variabel apapun.
---

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import normalize

Saat ini anda bekerja sebagai pegawai magang di salah satu perusahaan jual beli mobil bekas. Perusahaan ingin membuat sebuah fitur yang dapat memprediksi  harga mobil yang dimasukkan ke dalam website berdasarkan keterangan spesifikasi mobilnya.

Atasan anda memberikan tugas kepada anda untuk melakukan proses pembersihan data yang telah dikumpulkan dari website tersebut. Untuk memudahkan pekerjaan anda diberikan petunjuk pemrosesan data yang perlu dilakukan.

data yang akan diproses disimpan di dalam folder data dengan nama file `autos.csv`

In [2]:
cars_data = pd.read_csv('data/autos.csv') # Inputkan kode disini

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xdc in position 1059: invalid continuation byte

1. Lakukan observasi untuk mengecek:
    1. 10 Data teratas
    2. Statistik dari tiap kolom
    3. Tipe data dari tiap kolom
    4. Persentase nilai null

In [178]:
# Inputkan kode disini

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [179]:
# Inputkan kode disini

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-04-02 11:37:04,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [180]:
# Inputkan kode disini

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [181]:
# Inputkan kode disini

dateCrawled             0.000
name                    0.000
seller                  0.000
offerType               0.000
price                   0.000
abtest                  0.000
vehicleType            10.190
yearOfRegistration      0.000
gearbox                 5.360
powerPS                 0.000
model                   5.516
odometer                0.000
monthOfRegistration     0.000
fuelType                8.964
brand                   0.000
notRepairedDamage      19.658
dateCreated             0.000
nrOfPictures            0.000
postalCode              0.000
lastSeen                0.000
dtype: float64

2. ubahlah format penulisan beberapa kolom dari camelCase menjadi snake_case.
   
   `"dateCreated": "ad_created"
    "dateCrawled": "date_crawled"
    "fuelType": "fuel_type"
    "lastSeen": "last_seen"
    "monthOfRegistration": "registration_month"
    "notRepairedDamage": "unrepaired_damage"
    "nrOfPictures": "num_of_pictures"
    "offerType": "offer_type"
    "postalCode": "postal_code"
    "powerPS": "power_ps"
    "vehicleType": "vehicle_type"
    "yearOfRegistration": "registration_year"`

In [182]:
# Inputkan kode disini

3. Ubah tipe data dari kolom yang berisi data tanggal sehingga bertipe data `datetime64`

In [183]:
# Inputkan kode disini
cars_data[["ad_created", "date_crawled", "last_seen"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ad_created    50000 non-null  datetime64[ns]
 1   date_crawled  50000 non-null  datetime64[ns]
 2   last_seen     50000 non-null  datetime64[ns]
dtypes: datetime64[ns](3)
memory usage: 1.1 MB

4. Dari hasil observasi pada nomor 1, terlihat format data dari kolom price dan odometer tidak sesuai dengan representasi nilainya. Amati lebih detail nilai dari kolom-kolom tersebut. Kemudian ubahlah tipe datanya menjadi int64

> Note : Anda mungkin butuh untuk menyeragamkan format penulisan nilai pada kolom tersebut sebelum di konversi

In [184]:
# Inputkan kode disini

C:\Users\faiza\AppData\Local\Temp\ipykernel_16416\4007974667.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["price"] = data["price"].str.replace("$","")

5. Dari hasil pengolahan diatas drop beberapa kolom dengan kriteria sebagai berikut:
    1. Untuk kolom yang bertipe string lakukan pengecekan jumlah data uniknya. Jika perbandingan data unik terlalu besar maka drop kolom tersebut
    2. Untuk kolom numeric, drop kolom yang tidak berisi informasi apapun (hanya berisi angka 0)
    3. Drop kolom yang informasinya unik disetiap baris datanya ("name") dan kolom yang memiliki banyak kategori namun tidak balance("postal_code")

In [185]:
# Inputkan kode disini

kolom name
Ford_Fiesta                                                 78
Volkswagen_Golf_1.4                                         75
BMW_316i                                                    75
BMW_318i                                                    72
Volkswagen_Polo                                             72
                                                            ..
peugeot_206_bj_2000rot_4tuerig_ohne_tuev_bastlerfahrzeug     1
Volvo_Volvo_S60_2.4                                          1
Sparsamer_Mitsubishi_Cold                                    1
SEAT_ALTEA_2.0_TDI__AUTOMATIK                                1
Fiat_500_C_1.2_Dualogic_Lounge                               1
Name: name, Length: 38754, dtype: int64

kolom seller
privat        49999
gewerblich        1
Name: seller, dtype: int64

kolom offer_type
Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

kolom abtest
test       25756
control    24244
Name: abtest, dtype: int64

kolom vehicle_type
limousine     12859
kleinwagen    10822
kombi          9127
bus            4093
cabrio         3061
coupe          2537
suv            1986
andere          420
Name: vehicle_type, dtype: int64

kolom gearbox
manuell      36993
automatik    10327
Name: gearbox, dtype: int64

kolom model
golf          4024
andere        3528
3er           2761
polo          1757
corsa         1735
              ...
kappa            2
rangerover       1
i3               1
200              1
b_max            1
Name: model, Length: 245, dtype: int64

kolom fuel_type
benzin     30107
diesel     14567
lpg          691
cng           75
hybrid        37
andere        22
elektro       19
Name: fuel_type, dtype: int64

kolom brand
volkswagen        10687
opel               5461
bmw                5429
mercedes_benz      4734
audi               4283
ford               3479
renault            2404
peugeot            1456
fiat               1308
seat                941
skoda               786
mazda               757
nissan              754
smart               701
citroen             701
toyota              617
sonstige_autos      546
hyundai             488
volvo               457
mini                424
mitsubishi          406
honda               399
kia                 356
alfa_romeo          329
porsche             294
suzuki              293
chevrolet           283
chrysler            181
dacia               129
daihatsu            128
jeep                110
subaru              109
land_rover           99
saab                 80
daewoo               79
trabant              78
jaguar               77
rover                69
lancia               57
lada                 31
Name: brand, dtype: int64

kolom unrepaired_damage
nein    35232
ja       4939
Name: unrepaired_damage, dtype: int64

In [186]:
# Inputkan kode disini

In [212]:
# Inputkan kode disini

6. Dataset yang diolah memiliki outlier pada kolom price. untuk itu kita perlu menghapus kolom outlier dari datesetnya.
   1. Lakukan eksplorasi terhadap kolom price agar anda dapat mengidentifikasi outlier tersebut
   2. Untuk memudahkan pemrosesan, ditentukan nilai dari kolom price berkisar 500 sampai 40000. Hapus data yang nilai pricenya tidak masuk dalam rentang tersebut.

In [187]:
# Inputkan kode disini

18089           0
43923           0
15225           0
29499           0
8445            0
           ...
27371    12345678
47598    12345678
39377    12345678
42221    27322222
39705    99999999
Name: price, Length: 50000, dtype: int64

In [190]:
cars_data = # Inputkan kode disini
print(cars_data['price'].sort_values())

2679       500
24823      500
16598      500
14044      500
35373      500
         ...
28668    39999
6128     39999
41720    40000
31578    40000
13897    40000
Name: price, Length: 44752, dtype: int64

7. Dari hasil observasi pada nomor 1. Terlihat beberapa kolom memiliki nilai NaN. Lakukan imputasi terhadap data NaN, dengan ketentuan:
    1. jika kolom tersebut bertipe object maka input dengan data mode-nya
    2. jika kolom tersebut bertipe numeric input dengan nilai mediannya

In [206]:
# Inputkan kode disini

In [207]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44752 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_crawled        44752 non-null  datetime64[ns]
 1   name                44752 non-null  object
 2   price               44752 non-null  int64
 3   abtest              44752 non-null  object
 4   vehicle_type        44752 non-null  object
 5   registration_year   44752 non-null  int64
 6   gearbox             44752 non-null  object
 7   power_ps            44752 non-null  int64
 8   model               44752 non-null  object
 9   odometer_km         44752 non-null  int64
 10  registration_month  44752 non-null  int64
 11  fuel_type           44752 non-null  object
 12  brand               44752 non-null  object
 13  unrepaired_damage   44752 non-null  object
 14  ad_created          44752 non-null  datetime64[ns]
 15  postal_code         44752 non-null  int64
 16  last_seen           44752 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(6), object(8)
memory usage: 6.1+ MB

8. Lakukan normalisasi terhadap semua kolom yang bertipe Numeric (kecuali kolom target *'price'*).

In [208]:
# Inputkan Kode disini
cars_data

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,0.029430,control,bus,0.011796,manuell,0.000930,andere,0.882914,0.000018,lpg,peugeot,nein,2016-03-26,0.468462,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,0.051143,control,limousine,0.012016,automatik,0.001721,7er,0.902532,0.000036,benzin,bmw,nein,2016-04-04,0.427403,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,0.113828,test,limousine,0.025437,manuell,0.001291,golf,0.886317,0.000089,benzin,volkswagen,nein,2016-03-26,0.448147,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,0.055877,control,kleinwagen,0.025780,automatik,0.000912,fortwo,0.899167,0.000077,benzin,smart,nein,2016-03-12,0.433257,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,0.008706,test,kombi,0.012918,manuell,0.000000,focus,0.967362,0.000045,benzin,ford,nein,2016-04-01,0.252920,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,0.188931,control,limousine,0.015259,automatik,0.001813,q5,0.758761,0.000008,diesel,audi,nein,2016-03-27,0.623178,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,0.012646,control,cabrio,0.012748,manuell,0.000479,astra,0.958010,0.000032,benzin,opel,nein,2016-03-28,0.286170,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,0.176467,test,cabrio,0.026925,automatik,0.000922,500,0.066844,0.000147,benzin,fiat,nein,2016-04-02,0.981665,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,0.392630,control,kombi,0.034514,manuell,0.002572,a3,0.685817,0.000189,diesel,audi,nein,2016-03-08,0.611800,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,0.007968,control,limousine,0.012723,manuell,0.000644,vectra,0.956130,0.000006,benzin,opel,nein,2016-03-13,0.292557,2016-04-06 21:18:48

9. Lakukan encoding untuk data kategorik, sehingga bertipe numeric. Perlu diperhatikan jika kolom tersebut bertipe ordinal pastikan proses encoding memerhatikan urutan dari tiap kategori.

> Note: lakukan eksplorasi terhadap data kategorik untuk menentukan mana kolom bertipe nominal atau ordinal

In [219]:
# Inputkan Kode disini

10. Buatlah script pipeline pengolahan data yang telah dilakukan. Kemudian simpan kedalam sebuah repository di akun Github anda. Lampirkan link repository di bawah

In [ ]:
#link repository